/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-top: 20px;
}

/* Estilos para o input e div da tabuada */
#numero {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

#tabuada {
    font-size: 18px;
}

/* Estilos para o input e lista de nomes */
#filtro {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}
